[Desktop Entry]
Name=Wacom Tablet Configuration Launcher
GenericName=Wacom Tablet Configuration Launcher
Comment=A launcher for setting Wacom tablet configuration settings
Exec=/home/alexmorehead/xsetwacom.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
